<style type="text/css">
 
	.top_level {
		position: absolute;
		top: 29px;
		left: 6px;
		height: 160px;
		width: 168px;
		z-index: 20;
		padding-top: 6px;
		font: 100 7pt Verdana,Arial,Times New Roman,sans-serif;
		font-size: 9.5pt;
		color: #5f4d41;
		font-weight: bold;
		text-align: right;
		text-decoration: inherit;
	 
	}

	#Topbar a {
		text-decoration: none;
	}

	.online {
		color: #008000;
	}

	.offline {
		color: #FF0000;
	}

	a.topfont {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		text-decoration: none
	}
	a:hover.topfont {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #5a2800;
		text-decoration:none
	}
</style>

<div id="Topbar" class="Themebox" style="background-image:url({{ template_path }}/images/themeboxes/highscores/toplevelbox.gif);">
	<div class="top_level" style="background:url({{ template_path }}/images/themeboxes/bg_top.png)" align="	">
    {% for player in topPlayers %}
	    <div style="text-align:left"><a href="{{ getPlayerLink(player['name'], false) }} " class="topfont {% if player['online'] %}online{% else %}offline{% endif %}">
			<span style="color: #5f4d41">&nbsp;&nbsp;&nbsp;&nbsp;{{ player['rank'] }} - </span>{{ player['name'] }}
			<br>
<small><span style="color: white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lvl: ({{ player['level'] }})</span></small>	<br>
		</a>
	</div>
	{% endfor %}
	<div class="Bottom" style="background-image:url({{ template_path }}/images/general/box-bottom.gif); top: 159px;; left:-5px;">
	</div>
</div>
</div>
<br/><br/><br/>
