<div id="NetworksBox" class="Themebox" style="background-image:url({{ template_path }}/images/themeboxes/networks/networksbox.png);">
	{% if config['network_facebook'] is not empty %}
	<div id="FacebookBlock">
		<div id="FacebookLikeBox">
			<div class="fb-like-box fb_iframe_widget" data-href="https://m.facebook.com/warzona.global/{{ config['network_facebook'] }}" data-width="175" data-height="180" data-show-faces="false" data-stream="false" data-border-color="none" data-header="false" fb-xfbml-state="rendered">
										<span style="vertical-align: bottom; width: 181px; height: 180px;">
										</span>
			</div>
		</div>
		<div id="FacebookSendBox">
			<div class="fb-send fb_iframe_widget" data-href="https://m.facebook.com/warzona.global/{{ config['network_facebook'] }}" data-width="50" data-height="20" fb-xfbml-state="rendered">
										<span style="vertical-align: bottom; width: 50px; height: 20px;">
										</span>
			</div>
		</div>
		<div id="FacebookLikes">
			<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="https://m.facebook.com/warzona.global/{{ config['network_facebook'] }}" data-send="false" data-width="225" data-show-faces="false" fb-xfbml-state="rendered">
										<span style="height: 28px; width: 250px;">
										</span>
			</div>
		</div>
	</div>
	{% endif %}
	{% if config['network_twitter'] is not empty %}
	<div id="TwitterBlock">
		<a href="https://twitter.com/<?php echo $config['network_twitter']; ?>" class="twitter-follow-button" data-show-count="false">Follow @<?php echo $config['network_twitter']; ?></a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
	{% endif %}
	<div class="Bottom" style="background-image:url({{ template_path }}/images/general/box-bottom.gif);"></div>
</div>
	  