<div id="PremiumBox" class="Themebox" style="background-image:url({{ template_path }}/images/themeboxes/premium/premiumbox.gif);">
	<a class="ThemeboxButton" href="http://warzona.online/?payment/metodo_donate" onMouseOver="MouseOverBigButton(this);" onMouseOut="MouseOutBigButton(this);" style="background-image:url({{ template_path }}/images/global/buttons/sbutton.gif);"><div class="BigButtonOver" style="background-image:url({{ template_path }}/images/global/buttons/sbutton_over.gif);"></div><div class="ButtonText" style="background-image:url({{ template_path }}/images/global/buttons/_sbutton_getpremium.gif);"></div>
	</a>
	<div class="Bottom" style="background-image:url({{ template_path }}/images/general/box-bottom.gif);"></div>
</div>
